.container {
  padding-top: 10px;
  height: 10%;
}

.firstbuttonmiddle {
  margin-top: 10px;
  margin-left: 20px;
}

.secondbuttonmiddle {
  margin-top: 10px;
}

.newappform {
  margin-top: 80px;
  text-align: center;
  width: 40%;
}

.newappbuttons {
  margin-top: 30px;
  text-align: center;
  width: 40%;
}

.titles {
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: xx-large;
}

.applicationBox {
  padding: 10px 10px;
  color: black;
  border-radius: 15px 15px 15px 15px;
  border-color: goldenrod;
  border: solid;
  margin-bottom: 20px;
}

.applicationRow {
  margin: "10px auto";
}

.appTitle {
  color: rgb(66, 66, 66);
}

.boxTitle {
  color: black;
}

.jbt {
  padding-top: 0;
}

.sub-jbt {
  padding-top: 3%;
  padding-bottom: 3%;
}

.upcoming {
  background-color: rgb(249, 203, 156);
}

.pending {
  background-color: rgb(159, 197, 248);
}

.done {
  background-color: rgb(182, 215, 168);
}

.timelineBox {
  border: brown;
}

.timelineTitle {
  font-weight: bold;
}
