.container {
  padding-top: 10px;
}

.newappform {
  margin-top: 80px;
  text-align: center;
  width: 40%;
}

.newappbuttons {
  margin-top: 30px;
  text-align: center;
  width: 40%;
}

.titles {
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: xx-large;
}

.applicationBox {
  color: grey;
}

.applicationRow {
  margin: "10px auto";
}
